Shark Attack!

In [108]:
#Imports:
import pandas as pd
import numpy as np
import re

In [20]:
#Uploading the Shark Attack! data:
attack = pd.read_csv('Input/attacks.csv',encoding = 'latin-1')
display(attack)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#Checking out the columns:
for col in attack.columns: 
    print(col)

Case Number
Date
Year
Type
Country
Area
Location
Activity
Name
Sex
Age
Injury
Fatal (Y/N)
Time
Species
Investigator or Source
pdf
href formula
href
Case Number.1
Case Number.2
original order
Unnamed: 22
Unnamed: 23

In [88]:
#Let's get ridd of the unwanted columns

attack1 = attack.drop(columns = ['Unnamed: 22','Unnamed: 23','Case Number','Location','Name','Age','Time','Investigator or Source','pdf','href formula','href','Case Number.1','Case Number.2','original order'])

#Just out of curiosity, let's check the top countrys

attackCountry = attack1['Country'].value_counts()
display(attackCountry.head(20))

USA                 2229
AUSTRALIA           1338
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
BRAZIL               112
BAHAMAS              109
MEXICO                89
ITALY                 71
FIJI                  62
PHILIPPINES           61
REUNION               60
NEW CALEDONIA         53
CUBA                  46
MOZAMBIQUE            45
SPAIN                 44
INDIA                 40
EGYPT                 38
JAPAN                 34
CROATIA               34
Name: Country, dtype: int64

In [89]:
#I want to take a look at some Injuries. I just had an idea for one of the hypothesis

print(attack['Injury'].head(20))

0     No injury to occupant, outrigger canoe and pad...
1                            Minor injury to left thigh
2          Injury to left lower leg from surfboard skeg
3                             Minor injury to lower leg
4     Lacerations to leg & hand shark PROVOKED INCIDENT
5                               No injury, board bitten
6                                                 FATAL
7               Minor injury to foot. PROVOKED INCIDENT
8                                 Lower left leg bitten
9                                  Minor injury to foot
10    Minor bite to hand by captive shark. PROVOKED ...
11                 Injuries to lower right leg and foot
12                         Severe bite to right forearm
13    Injured by teeth of a dead porbeagle shark he ...
14      Shallow lacerations to finger PROVOKED INCIDENT
15                         Minor injury, marks on board
16                         No injury, surfboard damaged
17                                Minor injury to ankle
18                      No injury, shark bit scuba gear
19                No injury, knocked off board by shark
Name: Injury, dtype: object

In [94]:
#Playing with the value_counts just to see how it works when you add columns to the mix.

attackArea= attack[['Country','Area']].value_counts()
print(attackArea.head(20))

Country       Area
USA           Florida                  1037
AUSTRALIA     New South Wales           486
              Queensland                311
USA           Hawaii                    298
              California                290
SOUTH AFRICA  KwaZulu-Natal             213
              Western Cape Province     195
AUSTRALIA     Western Australia         189
SOUTH AFRICA  Eastern Cape Province     160
USA           South Carolina            159
AUSTRALIA     South Australia           104
USA           North Carolina            101
AUSTRALIA     Victoria                   90
BRAZIL        Pernambuco                 74
USA           Texas                      73
AUSTRALIA     Torres Strait              70
NEW ZEALAND   North Island               67
USA           New Jersey                 52
AUSTRALIA     Tasmania                   41
NEW ZEALAND   South Island               40
dtype: int64

In [95]:
#Is the quantity of FATAL attacks significative?

attacksFATAL = attack1.loc[attack1['Injury'] == 'FATAL']

display (attacksFATAL.head(50))

,Date,Year,Type,Country,Area,Activity,Sex,Injury,Fatal (Y/N),Species
6,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,Swimming,M,FATAL,Y,Tiger shark
58,30-Nov-2017,2017.0,Unprovoked,COSTA RICA,Cocos Island,Scuba diving,F,FATAL,Y,"Tiger shark, female"
59,Reported 25-Nov-2017,2017.0,Sea Disaster,LIBYA,NaN,2 boats capsized,NaN,FATAL,Y,Some drowned but other may have been killed by...
64,04-Nov-2017,2017.0,Unprovoked,CUBA,Holquin Province,Night bathing,M,FATAL,Y,Tiger shark
76,01-Oct-2017,2017.0,Invalid,SOUTH AFRICA,Western Cape Province,Scuba Diving,M,FATAL,NaN,Death may have been due to drowning
91,03-Sep-2017,2017.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Swimming, poaching abalone",M,FATAL,Y,NaN
144,05-May-2017,2017.0,Unprovoked,MEXICO,Baja California Sur,Snorkeling,M,FATAL,Y,NaN
149,29-Apr-2017,2017.0,Unprovoked,REUNION,Saint-Leu,Body boarding,M,FATAL,Y,NaN
155,17-Apr-2017,2017.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,F,FATAL,Y,White shark
221,06-Sep-2016,2016.0,Unprovoked,NEW CALEDONIA,North Province,Kite surfing,M,FATAL,Y,NaN
267,05-Jun-2016,2016.0,Unprovoked,AUSTRALIA,Western Australia,Diving,F,FATAL,Y,3+ m shark
271,31-May-2016,2016.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,FATAL,Y,White shark
288,09-Apr-2016,2016.0,Unprovoked,NEW CALEDONIA,Grand Terre,Walking,F,FATAL,Y,"Tiger shark, 2.5 m"
299,10-Mar-2016,2016.0,Unprovoked,Fiji,Vanua Levu,Diving for beche-de-mer,M,FATAL,Y,NaN
325,19-Dec-2015,2015.0,Unprovoked,ARUBA,NaN,Sea disaster,M,FATAL,Y,NaN
343,17-Oct-2015,2015.0,Unprovoked,MOZAMBIQUE,Inhambane Province,Fishing for shrimp,F,FATAL,Y,NaN
385,25-Jul-2015,2015.0,Unprovoked,AUSTRALIA,Tasmania,Scallop diving on hookah,M,FATAL,Y,"White shark, 3.9 to 4.2 m"
425,09-May-2015,2015.0,Unprovoked,NEW CALEDONIA,NaN,Snorkeling,M,FATAL,Y,"Bull shark, 3.5 m"
429,29-Apr-2015,2015.0,Unprovoked,USA,Hawaii,Snorkeling,F,FATAL,Y,NaN
434,12-Apr-2015,2015.0,Unprovoked,REUNION,Saint-Gilles-les-Bains,Surfing,M,FATAL,Y,Bull shark
440,21-Mar-2015,2015.0,Unprovoked,EGYPT,NaN,Swimming,M,FATAL,Y,Mako shark
447,14-Feb-2015,2015.0,Unprovoked,REUNION,dÉtang-Salé,Swimming,F,FATAL,Y,"Tiger shark, 3.5 m"
448,09-Feb-2015,2015.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,FATAL,Y,3.5 to 4 m shark
464,29-Dec-2014,2014.0,Unprovoked,AUSTRALIA,Western Australia,Spearfishing,M,FATAL,Y,"White shark, 4 to 5 m"
470,15-Dec-2014,2014.0,Unprovoked,AUSTRALIA,Queensland,Spearfishing,M,FATAL,Y,Tiger shark
500,09-Sep-2014,2014.0,Unprovoked,AUSTRALIA,New South Wales,Swimming,M,FATAL,Y,7' shark
569,03-Apr-2014,2014.0,Unprovoked,AUSTRALIA,New South Wales,Swimming,F,FATAL,Y,3 m to 4 m white shark
571,22-Mar-2014,2014.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Swimming,M,FATAL,Y,2 m shark
582,08-Feb-2014,2014.0,Unprovoked,AUSTRALIA,South Australia,Spearfishing / Free diving,M,FATAL,Y,NaN
596,02-Dec-2013,2013.0,Unprovoked,USA,Hawaii,Kayaking / Fishing,M,FATAL,Y,NaN
597,30-Nov-2013,2013.0,Unprovoked,AUSTRALIA,New South Wales,Body boarding,M,FATAL,Y,"Tiger shark, 3m"
599,23-Nov-2013,2013.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,FATAL,Y,Thought to involve a white shark
613,11-Oct-2013,2013.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Swimming / snorkeling,M,FATAL,Y,White shark
639,14-Aug-2013,2013.0,Unprovoked,USA,Hawaii,Snorkeling,F,FATAL,Y,Tiger shark?
651,22-Jul-2013,2013.0,Unprovoked,BRAZIL,Pernambuco,Swimming,F,FATAL,Y,NaN
654,15-Jul-2013,2013.0,Unprovoked,REUNION,Saint-Paul,Swimming & snorkeling,F,FATAL,Y,NaN
655,14-Jul-2013,2013.0,Unprovoked,DIEGO GARCIA,NaN,Swimming,M,FATAL,Y,NaN
673,23-May-2013,2013.0,Unprovoked,BRAZIL,Pernambuco,NaN,M,FATAL,Y,NaN
677,08-May-2013,2013.0,Unprovoked,REUNION,Saint-Gilles,Body boarding,M,FATAL,Y,Bull shark
685,13-Apr-2013,2013.0,Unprovoked,GUAM,NaN,NaN,M,FATAL,Y,NaN
696,12-Mar-2013,2013.0,Unprovoked,JAMAICA,St. Catherine,Spearfishing,M,FATAL,Y,"Tiger shark, 4.8 m"
700,27-Feb-2013,2013.0,Unprovoked,NEW ZEALAND,North Island,Swimming,M,FATAL,Y,"White shark, 4m"
715,25-Dec-2012,2012.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Swimming,M,FATAL,Y,Tiger shark
722,22-Nov-2012,2012.0,Unprovoked,MEXICO,Sinaloa,Swimming,M,FATAL,Y,2.5 m shark
728,23-Oct-2012,2012.0,Unprovoked,USA,California,Surfing,M,FATAL,Y,"White shark, 15' to 16'"
751,26-Aug-2012,2012.0,Unprovoked,BRAZIL,Pernambuco,Swimming,M,FATAL,Y,NaN
762,23-Jul-2012,2012.0,Unprovoked,REUNION,Trois-Bassins,Surfing,M,FATAL,Y,NaN
765,14-Jul-2012,2012.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,FATAL,Y,"White shark, 5m"
799,19-Apr-2012,2012.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Body boarding,M,FATAL,Y,"White shark, 4 m to 5m"
803,31-Mar-2012,2012.0,Unprovoked,AUSTRALIA,Western Australia,Scuba diving,M,FATAL,Y,"White shark, 4m"

In [97]:
#Maybe if I just use 2018 data...

attacks2018 = attack1.loc[attack1['Year'] == 2018.0]
display(attacks2018()

,Date,Year,Type,Country,Area,Activity,Sex,Injury,Fatal (Y/N),Species
0,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,Minor injury to left thigh,N,NaN
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,Injury to left lower leg from surfboard skeg,N,NaN
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,Minor injury to lower leg,N,2 m shark
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"
5,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Kite surfing,M,"No injury, board bitten",N,NaN
6,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,Swimming,M,FATAL,Y,Tiger shark
7,27-May-2018,2018.0,Unprovoked,USA,Florida,Fishing,M,Minor injury to foot. PROVOKED INCIDENT,N,"Lemon shark, 3'"
8,26-May-2018,2018.0,Unprovoked,USA,Florida,Walking,M,Lower left leg bitten,N,"Bull shark, 6'"
9,26-May-2018,2018.0,Unprovoked,USA,Florida,Standing,M,Minor injury to foot,N,NaN
10,24-May-2018,2018.0,Provoked,AUSTRALIA,Queensland,Feeding sharks,M,Minor bite to hand by captive shark. PROVOKED ...,N,Grey reef shark
11,21-May-2018,2018.0,Unprovoked,USA,South Carolina,Boogie boarding,M,Injuries to lower right leg and foot,N,NaN
12,13-May-2018,2018.0,Unprovoked,USA,South Carolina,Swimming,M,Severe bite to right forearm,N,NaN
13,13-May-2018,2018.0,Invalid,ENGLAND,Cornwall,Fishing,M,Injured by teeth of a dead porbeagle shark he ...,N,Invalid incident
14,May 2018,2018.0,Provoked,AUSTRALIA,Westerm Australia,Feeding sharks,F,Shallow lacerations to finger PROVOKED INCIDENT,N,"Tawny nurse shark, 2m"
15,12-May-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Surfing,M,"Minor injury, marks on board",N,NaN
16,09-May-2018,2018.0,Questionable,AUSTRALIA,New South Wales,Surfing,M,"No injury, surfboard damaged",N,Shark involvement not confirmed
17,Reported 30-Apr-2018,2018.0,Unprovoked,THAILAND,Hua Hin,Swimming,M,Minor injury to ankle,N,NaN
18,28-Apr-2018,2018.0,Unprovoked,COSTA RICA,Cocos Island,Scuba diving,M,"No injury, shark bit scuba gear",N,Tiger shark
19,28-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,"No injury, knocked off board by shark",N,NaN
20,25-Apr-2018,2018.0,Questionable,AUSTRALIA,New South Wales,Surfing,M,No injury,N,Questionable
21,25-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,"No injury, knocked off board by shark",N,3 m shark
22,24-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,"No injury, shark struck his leg",N,"White shark, 3.5 m"
23,23-Apr-2018,2018.0,Unprovoked,MALDIVES,Alifu Alifu Atoll,Fishing,M,5-inch cut to hand,N,Tiger shark
24,22-Apr-2018,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Paddle-skiing,M,"No injury, shark bit hole in ski",N,"White shark, 2.5 m"
25,19-Apr-2018,2018.0,Unprovoked,USA,Hawaii,Body boarding,M,Lacerations to right lower leg,N,6' shark
26,15-Apr-2018,2018.0,Unprovoked,THAILAND,Hua Hin,Swimming,M,Lacerations to foot and ankle,N,Juvenile bull shark
27,15-Apr-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,Swimming,M,"Multiple severe injuries to arms and leg, leg ...",NaN,NaN
28,15-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,Laceration to right thigh,N,NaN
29,15-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,Lacerations to legs,N,NaN
30,14-Apr-2018,2018.0,Unprovoked,BAHAMAS,New Providence,Surfing,M,No Injury. Shark swam away with the surf board,N,Tiger shark
31,Reported 10-Apr-2018,2018.0,Invalid,BRAZIL,Alagoas,Fishing,M,Injury to ankle from marine animal trapped in ...,N,Shark involvement not confirmed
32,09-Apr-2018,2018.0,Unprovoked,NEW CALEDONIA,NaN,Windsurfing,NaN,"No injury, shark bit board",N,2 m shark
33,05-Apr-2018,2018.0,Unprovoked,BAHAMAS,NaN,Swimming,M,"2 puncture wounds to left foot, abrasion to ri...",N,Bull shark
34,03-Apr-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Surfing,M,Lacerations to left knee & lower leg,N,White shark
35,31-Mar-2018,2018.0,Unprovoked,USA,Hawaii,Stand-Up Paddleboarding,M,Injuries to right leg & hand,N,"Tiger shark, 12'"
36,14-Mar-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Wading,M,Minor injuries to legs,N,Wobbegong shark
37,9-Mar-2018,2018.0,Unprovoked,AUSTRALIA,Victoria,Swimming,M,"No injury, said to have been charged by sharks...",N,3.5 m shark
38,9-Mar-2018,2018.0,Unprovoked,AUSTRALIA,Victoria,Surfing,M,"Minor injury, ankle grazed",N,1.8 m shark
39,24-Feb-2018,2018.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Scuba Diving,M,The shark & man simply collided; neither were...,N,Blacktip shark
40,23-Feb-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Swimming,F,Laceratons to right leg & foot,N,"Juvenile white shark, 2.7 to 3.2 m"
41,18-Feb-2018,2018.0,Provoked,AUSTRALIA,Victoria,Kayak fishing for sharks,M,"Shark rammed kayak, no injury to occupant PRO...",N,NaN
42,15-Feb-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Walking,M,Puncture wounds to leff foot & lower leg,N,"Bull shark, 2 m"
43,14-Feb-2018,2018.0,Invalid,AUSTRALIA,Queensland,Swimming,F,"Collision / No injury, no attack",N,Possibly a wobbegong
44,11-Feb-2018,2018.0,Invalid,BRAZIL,"Boi Island, Victoria",Cleaning fish,F,Lacerations to 4 toes of right foot,N,"Injury believed caused by an eel, not a shark"
45,03-Feb-2018,2018.0,Unprovoked,ECUADOR,Galapagos Islands,Snorkeling,M,Injuries to right foot,N,Galapagos shark?
46,01-Feb-2018,2018.0,Invalid,AUSTRALIA,Western Australia,Spearfishing,M,"No injury no attack. This is considerd an ""enc...",N,2m shark
47,28-Jan-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,NaN,M,Injuries to right leg,N,Bull shark
48,21-Jan-2018,2018.0,Unprovoked,NEW CALEDONIA,NaN,Spearfishing,M,Injuries to abdomen and arm,N,"Bull shark, 3 m"
49,14-Jan-2018,2018.0,Unprovoked,AUSTRALIA,Queensland,Diving,M,Severe laceration to left forearm,N,Grey reef shark. 2 m
50,13-Jan-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Free diving,M,"No injury, shark took his swimfin",N,"White shark, 3.5 m"
51,12-Jan-2018,2018.0,Unprovoked,BRAZIL,Fernando de Noronha,Surfing,M,Minor injury to left forearm,N,small shark
52,05-Jan-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,Foot bitten,N,Wobbegong shark?

In [109]:
#Date column is such a mess, I definitely have to clean the data if I want to be able to manipulate this table.

attack1_sort = attack1.sort_values(['Year'], ascending=0)
display(attack1_sort.head(50))

,Date,Year,Type,Country,Area,Activity,Sex,Injury,Fatal (Y/N),Species
0,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,"No injury to occupant, outrigger canoe and pad...",N,White shark
40,23-Feb-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Swimming,F,Laceratons to right leg & foot,N,"Juvenile white shark, 2.7 to 3.2 m"
29,15-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,Lacerations to legs,N,NaN
30,14-Apr-2018,2018.0,Unprovoked,BAHAMAS,New Providence,Surfing,M,No Injury. Shark swam away with the surf board,N,Tiger shark
31,Reported 10-Apr-2018,2018.0,Invalid,BRAZIL,Alagoas,Fishing,M,Injury to ankle from marine animal trapped in ...,N,Shark involvement not confirmed
32,09-Apr-2018,2018.0,Unprovoked,NEW CALEDONIA,NaN,Windsurfing,NaN,"No injury, shark bit board",N,2 m shark
33,05-Apr-2018,2018.0,Unprovoked,BAHAMAS,NaN,Swimming,M,"2 puncture wounds to left foot, abrasion to ri...",N,Bull shark
34,03-Apr-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Surfing,M,Lacerations to left knee & lower leg,N,White shark
35,31-Mar-2018,2018.0,Unprovoked,USA,Hawaii,Stand-Up Paddleboarding,M,Injuries to right leg & hand,N,"Tiger shark, 12'"
36,14-Mar-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Wading,M,Minor injuries to legs,N,Wobbegong shark
37,9-Mar-2018,2018.0,Unprovoked,AUSTRALIA,Victoria,Swimming,M,"No injury, said to have been charged by sharks...",N,3.5 m shark
38,9-Mar-2018,2018.0,Unprovoked,AUSTRALIA,Victoria,Surfing,M,"Minor injury, ankle grazed",N,1.8 m shark
39,24-Feb-2018,2018.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Scuba Diving,M,The shark & man simply collided; neither were...,N,Blacktip shark
41,18-Feb-2018,2018.0,Provoked,AUSTRALIA,Victoria,Kayak fishing for sharks,M,"Shark rammed kayak, no injury to occupant PRO...",N,NaN
27,15-Apr-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,Swimming,M,"Multiple severe injuries to arms and leg, leg ...",NaN,NaN
42,15-Feb-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Walking,M,Puncture wounds to leff foot & lower leg,N,"Bull shark, 2 m"
44,11-Feb-2018,2018.0,Invalid,BRAZIL,"Boi Island, Victoria",Cleaning fish,F,Lacerations to 4 toes of right foot,N,"Injury believed caused by an eel, not a shark"
45,03-Feb-2018,2018.0,Unprovoked,ECUADOR,Galapagos Islands,Snorkeling,M,Injuries to right foot,N,Galapagos shark?
46,01-Feb-2018,2018.0,Invalid,AUSTRALIA,Western Australia,Spearfishing,M,"No injury no attack. This is considerd an ""enc...",N,2m shark
47,28-Jan-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,NaN,M,Injuries to right leg,N,Bull shark
48,21-Jan-2018,2018.0,Unprovoked,NEW CALEDONIA,NaN,Spearfishing,M,Injuries to abdomen and arm,N,"Bull shark, 3 m"
49,14-Jan-2018,2018.0,Unprovoked,AUSTRALIA,Queensland,Diving,M,Severe laceration to left forearm,N,Grey reef shark. 2 m
50,13-Jan-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Free diving,M,"No injury, shark took his swimfin",N,"White shark, 3.5 m"
51,12-Jan-2018,2018.0,Unprovoked,BRAZIL,Fernando de Noronha,Surfing,M,Minor injury to left forearm,N,small shark
52,05-Jan-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,Foot bitten,N,Wobbegong shark?
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,Minor injury to left thigh,N,NaN
28,15-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,Laceration to right thigh,N,NaN
43,14-Feb-2018,2018.0,Invalid,AUSTRALIA,Queensland,Swimming,F,"Collision / No injury, no attack",N,Possibly a wobbegong
26,15-Apr-2018,2018.0,Unprovoked,THAILAND,Hua Hin,Swimming,M,Lacerations to foot and ankle,N,Juvenile bull shark
13,13-May-2018,2018.0,Invalid,ENGLAND,Cornwall,Fishing,M,Injured by teeth of a dead porbeagle shark he ...,N,Invalid incident
25,19-Apr-2018,2018.0,Unprovoked,USA,Hawaii,Body boarding,M,Lacerations to right lower leg,N,6' shark
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,Injury to left lower leg from surfboard skeg,N,NaN
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,Minor injury to lower leg,N,2 m shark
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"
5,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Kite surfing,M,"No injury, board bitten",N,NaN
6,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,Swimming,M,FATAL,Y,Tiger shark
8,26-May-2018,2018.0,Unprovoked,USA,Florida,Walking,M,Lower left leg bitten,N,"Bull shark, 6'"
9,26-May-2018,2018.0,Unprovoked,USA,Florida,Standing,M,Minor injury to foot,N,NaN
10,24-May-2018,2018.0,Provoked,AUSTRALIA,Queensland,Feeding sharks,M,Minor bite to hand by captive shark. PROVOKED ...,N,Grey reef shark
11,21-May-2018,2018.0,Unprovoked,USA,South Carolina,Boogie boarding,M,Injuries to lower right leg and foot,N,NaN
12,13-May-2018,2018.0,Unprovoked,USA,South Carolina,Swimming,M,Severe bite to right forearm,N,NaN
7,27-May-2018,2018.0,Unprovoked,USA,Florida,Fishing,M,Minor injury to foot. PROVOKED INCIDENT,N,"Lemon shark, 3'"
14,May 2018,2018.0,Provoked,AUSTRALIA,Westerm Australia,Feeding sharks,F,Shallow lacerations to finger PROVOKED INCIDENT,N,"Tawny nurse shark, 2m"
19,28-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,"No injury, knocked off board by shark",N,NaN
24,22-Apr-2018,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Paddle-skiing,M,"No injury, shark bit hole in ski",N,"White shark, 2.5 m"
23,23-Apr-2018,2018.0,Unprovoked,MALDIVES,Alifu Alifu Atoll,Fishing,M,5-inch cut to hand,N,Tiger shark
22,24-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,"No injury, shark struck his leg",N,"White shark, 3.5 m"
20,25-Apr-2018,2018.0,Questionable,AUSTRALIA,New South Wales,Surfing,M,No injury,N,Questionable
21,25-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,"No injury, knocked off board by shark",N,3 m shark
18,28-Apr-2018,2018.0,Unprovoked,COSTA RICA,Cocos Island,Scuba diving,M,"No injury, shark bit scuba gear",N,Tiger shark

In [145]:
#Let's create a couple columns for the clean date and year data:

attack1['realYear'] = None
attack1['realDate'] = None

In [146]:
#If I get the indexes for the columns that will be involved in this cleaning operation it can become easier:

index_Date = attack1.columns.get_loc('Date')
index_realYear = attack1.columns.get_loc('realYear')
index_realDate = attack1.columns.get_loc('realDate')

print(index_Date, index_realYear, index_realDate)

0 10 11

In [173]:
#The two patterns for the regex:
realYear_pattern = r'[0-9]{4}'
realDate_pattern = r'[0-9]{2}\-[a-zA-Z]{3}\-[0-9]{4}'

In [149]:
#Let's go with the realDate column:

'''for row in range (0, len(attack1)):
    realDate = re.search(realDate_pattern, attack1.iat[row, index_Date])
    attack1.iat[row, index_realYear] = realDate'''

#My formula didn't work(TypeError: expected string or bytes-like object). I'm pretty sure it is refering to
#the column types.

#Let's check that out then.

attack1.dtypes

Date            object
Year           float64
Type            object
Country         object
Area            object
Activity        object
Sex             object
Injury          object
Fatal (Y/N)     object
Species         object
realYear        object
realDate        object
dtype: object

In [150]:
attack1['Date'] = attack1.Date.astype(str)

In [202]:

for row in range (0, len(attack1)):
    realYear = re.search(realYear_pattern, attack1.iat[row, index_Date])
    attack1.iat[row, index_realYear] = realYear

    
display(attack1)

,Date,Year,Type,Country,Area,Activity,Sex,Injury,Fatal (Y/N),Species,realYear,realDate
0,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,"No injury to occupant, outrigger canoe and pad...",N,White shark,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='25-Jun-..."
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,Minor injury to left thigh,N,NaN,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='18-Jun-..."
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,Injury to left lower leg from surfboard skeg,N,NaN,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='09-Jun-..."
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,Minor injury to lower leg,N,2 m shark,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='08-Jun-..."
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m","<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='04-Jun-..."
...,...,...,...,...,...,...,...,...,...,...,...,...
25718,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
25719,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
25720,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
25721,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
25722,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None

In [206]:
for row in range (0, len(attack1)):
    realDate = re.search(realDate_pattern, attack1.iat[row, index_Date])
    attack1.iat[row, index_realDate] = realDate
    
attack1

,Date,Year,Type,Country,Area,Activity,Sex,Injury,Fatal (Y/N),Species,realYear,realDate
0,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,"No injury to occupant, outrigger canoe and pad...",N,White shark,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='25-Jun-..."
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,Minor injury to left thigh,N,NaN,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='18-Jun-..."
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,Injury to left lower leg from surfboard skeg,N,NaN,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='09-Jun-..."
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,Minor injury to lower leg,N,2 m shark,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='08-Jun-..."
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m","<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='04-Jun-..."
...,...,...,...,...,...,...,...,...,...,...,...,...
25718,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
25719,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
25720,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
25721,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
25722,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None

In [234]:
attack2 = attack1.dropna(subset=['realYear'])
attack3 = attack2.dropna(subset=['realDate'])
display(attack3)
#I definitely need help with those re.match objects.

,Date,Year,Type,Country,Area,Activity,Sex,Injury,Fatal (Y/N),Species,realYear,realDate
0,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,"No injury to occupant, outrigger canoe and pad...",N,White shark,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='25-Jun-..."
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,Minor injury to left thigh,N,NaN,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='18-Jun-..."
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,Injury to left lower leg from surfboard skeg,N,NaN,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='09-Jun-..."
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,Minor injury to lower leg,N,2 m shark,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='08-Jun-..."
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m","<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='04-Jun-..."
...,...,...,...,...,...,...,...,...,...,...,...,...
6205,Before 08-Jun-1912,0.0,Unprovoked,NEW ZEALAND,North Island,NaN,M,FATAL,Y,NaN,"<re.Match object; span=(14, 18), match='1912'>","<re.Match object; span=(7, 18), match='08-Jun-..."
6245,Before 19-Jun-1959,0.0,Unprovoked,USA,California,NaN,F,Leg injured,N,"White shark, 1,900-lb","<re.Match object; span=(15, 19), match='1959'>","<re.Match object; span=(8, 19), match='19-Jun-..."
6288,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Swimming,M,"""Lost leg""",N,NaN,"<re.Match object; span=(14, 18), match='1916'>","<re.Match object; span=(7, 18), match='17-Jul-..."
6289,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Fishing,M,"FATAL, body not recovered but shark was caught...",Y,NaN,"<re.Match object; span=(60, 64), match='1913'>","<re.Match object; span=(53, 64), match='19-Jul..."
6290,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Wading,M,"FATAL, leg stripped of flesh",Y,NaN,"<re.Match object; span=(14, 18), match='1913'>","<re.Match object; span=(7, 18), match='19-Jul-..."

In [220]:
attack3['realYear'].group()

AttributeError: 'Series' object has no attribute 'group'

In [225]:
attack3['Date'].isnull().value_counts()

False    5349
Name: Date, dtype: int64

In [238]:
attack3['Injury'].str.lower()
#attack3.Injury = attack.Injury.str.replace(r')
attack3

,Date,Year,Type,Country,Area,Activity,Sex,Injury,Fatal (Y/N),Species,realYear,realDate
0,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,"no injury to occupant, outrigger canoe and pad...",N,White shark,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='25-Jun-..."
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,minor injury to left thigh,N,NaN,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='18-Jun-..."
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,injury to left lower leg from surfboard skeg,N,NaN,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='09-Jun-..."
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,minor injury to lower leg,N,2 m shark,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='08-Jun-..."
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,lacerations to leg & hand shark provoked incident,N,"Tiger shark, 3m","<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='04-Jun-..."
...,...,...,...,...,...,...,...,...,...,...,...,...
6205,Before 08-Jun-1912,0.0,Unprovoked,NEW ZEALAND,North Island,NaN,M,fatal,Y,NaN,"<re.Match object; span=(14, 18), match='1912'>","<re.Match object; span=(7, 18), match='08-Jun-..."
6245,Before 19-Jun-1959,0.0,Unprovoked,USA,California,NaN,F,leg injured,N,"White shark, 1,900-lb","<re.Match object; span=(15, 19), match='1959'>","<re.Match object; span=(8, 19), match='19-Jun-..."
6288,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Swimming,M,"""lost leg""",N,NaN,"<re.Match object; span=(14, 18), match='1916'>","<re.Match object; span=(7, 18), match='17-Jul-..."
6289,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Fishing,M,"fatal, body not recovered but shark was caught...",Y,NaN,"<re.Match object; span=(60, 64), match='1913'>","<re.Match object; span=(53, 64), match='19-Jul..."
6290,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Wading,M,"fatal, leg stripped of flesh",Y,NaN,"<re.Match object; span=(14, 18), match='1913'>","<re.Match object; span=(7, 18), match='19-Jul-..."

In [331]:
attack3.Injury = attack.Injury.str.replace(r'(.*)?(leg|Leg|knee|Knee|Knees|knees)(.*)', 'leg')
attack3

/home/diegon8/.local/lib/python3.8/site-packages/pandas/core/generic.py:5159: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,Date,Year,Type,Country,Area,Activity,Sex,Injury,Fatal (Y/N),Species,realYear,realDate
0,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,"No injury to occupant, outrigger canoe and pad...",N,White shark,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='25-Jun-..."
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,Minor injury to left thigh,N,NaN,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='18-Jun-..."
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,leg,N,NaN,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='09-Jun-..."
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,leg,N,2 m shark,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='08-Jun-..."
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,leg,N,"Tiger shark, 3m","<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='04-Jun-..."
...,...,...,...,...,...,...,...,...,...,...,...,...
6205,Before 08-Jun-1912,0.0,Unprovoked,NEW ZEALAND,North Island,NaN,M,FATAL,Y,NaN,"<re.Match object; span=(14, 18), match='1912'>","<re.Match object; span=(7, 18), match='08-Jun-..."
6245,Before 19-Jun-1959,0.0,Unprovoked,USA,California,NaN,F,leg,N,"White shark, 1,900-lb","<re.Match object; span=(15, 19), match='1959'>","<re.Match object; span=(8, 19), match='19-Jun-..."
6288,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Swimming,M,leg,N,NaN,"<re.Match object; span=(14, 18), match='1916'>","<re.Match object; span=(7, 18), match='17-Jul-..."
6289,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Fishing,M,"FATAL, body not recovered but shark was caught...",Y,NaN,"<re.Match object; span=(60, 64), match='1913'>","<re.Match object; span=(53, 64), match='19-Jul..."
6290,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Wading,M,leg,Y,NaN,"<re.Match object; span=(14, 18), match='1913'>","<re.Match object; span=(7, 18), match='19-Jul-..."

In [332]:
attack3.Injury = attack3.Injury.str.replace(r'(.*)?(thigh|Thigh)(.*)', 'thigh')

/home/diegon8/.local/lib/python3.8/site-packages/pandas/core/generic.py:5159: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [333]:
attack3.Injury = attack3.Injury.str.replace(r'(.*)?(fatal|FATAL|Fatal)(.*)', 'FATAL')

In [355]:
attack3.Injury = attack3.Injury.str.replace(r'(.*)?(foot|Foot|FOOT|foots|Ankle|ankle|Heel|heel|Toes|toes|toe|Toes)(.*)', 'foot')

In [340]:
attack3.Injury = attack3.Injury.str.replace(r'(.*)?(hand|Hand|HAND|hands|fingers|Fingers|finger|Finger)(.*)', 'hand')

In [344]:
attack3.Injury = attack3.Injury.str.replace(r'(.*)?(abdomen|body|Abdomen|Body|Torso|torso)(.*)', 'body')

In [362]:
attack3.Injury = attack3.Injury.str.replace(r'(.*)?(No injury|no injury|NO INJURY|No Injury|uninjured)(.*)', 'NO INJURY')
attack3.Injury = attack3.Injury.str.replace(r'(.*)?(arm|Arm|ARM|forearm|Forearm|Elbow|elbow|Shoulder|shoulder)(.*)', 'arm')
attack3.Injury = attack3.Injury.str.replace(r'(.*)?(calf|Calf)(.*)', 'leg')
attack3.Injury = attack3.Injury.str.replace(r'(.*)?(Minor injury|minor injuries|Minor injuries)(.*)', 'MINOR INJURY')
attack3.Injury = attack3.Injury.str.replace(r'(.*)?(drowning|Drowning|drowned|Drowned)(.*)', 'DROWNED')
attack3.Injury = attack3.Injury.str.replace(r'(.*)?(Lacerations|lacerations|Laceration|laceration)(.*)', 'lacerations')
attack3.Injury = attack3.Injury.str.replace(r'(.*)?(Hips|hips|Hip|hip)(.*)', 'hip')
attack3.Injury = attack3.Injury.str.replace(r'(.*)?(Buttocks|Buttock|buttocks|buttock)(.*)', 'buttock')
attack3.Injury = attack3.Injury.str.replace(r'(.*)?(Fin|fin)(.*)', 'fin')

In [365]:
attack3['Injury'].value_counts().head(10)

leg          1102
FATAL         858
foot          800
NO INJURY     663
arm           385
hand          383
thigh         346
body           94
DROWNED        80
Survived       71
Name: Injury, dtype: int64

In [328]:
attack3.to_csv('attack3.csv', index=False)

In [366]:
attack3[2300:2350]

,Date,Year,Type,Country,Area,Activity,Sex,Injury,Fatal (Y/N),Species,realYear,realDate
2389,12-May-1995,1995.0,Unprovoked,SOUTH KOREA,NaN,Diving for abalone,F,leg,Y,4 m shark,"<re.Match object; span=(7, 11), match='1995'>","<re.Match object; span=(0, 11), match='12-May-..."
2390,16-Apr-1995,1995.0,Invalid,USA,Florida,NaN,M,hand,NaN,Invalid,"<re.Match object; span=(7, 11), match='1995'>","<re.Match object; span=(0, 11), match='16-Apr-..."
2391,13-Apr-1995,1995.0,Unprovoked,USA,Florida,NaN,M,foot,N,NaN,"<re.Match object; span=(7, 11), match='1995'>","<re.Match object; span=(0, 11), match='13-Apr-..."
2392,09-Apr-1995,1995.0,Unprovoked,AUSTRALIA,New South Wales,Diving,M,NO INJURY,N,Wobbegong shark,"<re.Match object; span=(7, 11), match='1995'>","<re.Match object; span=(0, 11), match='09-Apr-..."
2393,09-Apr-1995,1995.0,Unprovoked,JAPAN,Aichi Prefecture,Scuba diving for bivalves,M,FATAL,Y,6 m [20'] white shark,"<re.Match object; span=(7, 11), match='1995'>","<re.Match object; span=(0, 11), match='09-Apr-..."
2394,21-Mar-1995,1995.0,Unprovoked,AUSTRALIA,New South Wales,Surf skiing,F,NO INJURY,N,NaN,"<re.Match object; span=(7, 11), match='1995'>","<re.Match object; span=(0, 11), match='21-Mar-..."
2395,11-Mar-1995,1995.0,Unprovoked,AUSTRALIA,South Australia,Surfing,M,arm,N,"Bronze whaler shark, 2 m","<re.Match object; span=(7, 11), match='1995'>","<re.Match object; span=(0, 11), match='11-Mar-..."
2396,05-Mar-1995,1995.0,Unprovoked,BRAZIL,Maranhão,Swimming,NaN,FATAL,Y,NaN,"<re.Match object; span=(7, 11), match='1995'>","<re.Match object; span=(0, 11), match='05-Mar-..."
2397,19-Feb-1995,1995.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Swimming,M,leg,N,Raggedtooth shark,"<re.Match object; span=(7, 11), match='1995'>","<re.Match object; span=(0, 11), match='19-Feb-..."
2399,24-Jan-1995,1995.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Swimming,M,thigh,Y,"Tiger shark, 1.8 m [6']","<re.Match object; span=(7, 11), match='1995'>","<re.Match object; span=(0, 11), match='24-Jan-..."
2400,02-Jan-1995,1995.0,Unprovoked,BRAZIL,Pernambuco,Surfing,M,foot,N,,"<re.Match object; span=(7, 11), match='1995'>","<re.Match object; span=(0, 11), match='02-Jan-..."
2405,30-Dec-1994,1994.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Body boarding,M,NO INJURY,N,5.5 m [18'] white shark,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='30-Dec-..."
2406,18-Dec-1994,1994.0,Unprovoked,USA,Hawaii,"Surfing, sitting on board",NaN,NO INJURY,N,NaN,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='18-Dec-..."
2407,13-Dec-1994,1994.0,Unprovoked,BRAZIL,Pernambuco,Surfing,M,Survived,N,NaN,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='13-Dec-..."
2408,11-Dec-1994,1994.0,Unprovoked,BRAZIL,Pernambuco,Surfing,M,thigh,N,NaN,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='11-Dec-..."
2409,Reported 10-Dec-1994,1994.0,Unprovoked,VANUATU,Tafea Province,NaN,NaN,No details,UNKNOWN,NaN,"<re.Match object; span=(21, 25), match='1994'>","<re.Match object; span=(14, 25), match='10-Dec..."
2410,09-Dec-1994,1994.0,Invalid,AUSTRALIA,Queensland,Murder victim,M,Shark scavenged on his corpse,NaN,Invalid,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='09-Dec-..."
2411,09-Dec-1994,1994.0,Unprovoked,USA,California,Commercial diver (submerged or treading water),M,leg,Y,5 m to 5.5 m [16.5' to 18'] white shark,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='09-Dec-..."
2412,01-Dec-1994,1994.0,Unprovoked,BRAZIL,Pernambuco,Surfing,M,FATAL,Y,NaN,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='01-Dec-..."
2413,25-Nov-1994,1994.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Spearfishing,M,NO INJURY,N,"Raggedtooth shark, 2.7 m [9']","<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='25-Nov-..."
2414,13-Nov-1994,1994.0,Unprovoked,USA,Hawaii,"Surfing, paddling seawards",F,thigh,N,2.7 m [9'] shark,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='13-Nov-..."
2415,06-Nov-1994,1994.0,Unprovoked,USA,Hawaii,Surfing,NaN,NO INJURY,N,NaN,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='06-Nov-..."
2416,18-Oct-1994,1994.0,Unprovoked,BRAZIL,Pernambuco,Surfing,NaN,Survived,N,NaN,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='18-Oct-..."
2417,17-Oct-1994,1994.0,Unprovoked,BRAZIL,Pernambuco,Surfing,M,Survived,N,NaN,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='17-Oct-..."
2418,09-Oct-1994,1994.0,Provoked,USA,Florida,Wading,F,foot,N,Thought to involve a small sand shark,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='09-Oct-..."
2419,05-Oct-1994,1994.0,Unprovoked,USA,Florida,Surfing,M,foot,N,NaN,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='05-Oct-..."
2420,26-Sep-1994,1994.0,Unprovoked,USA,South Carolina,Swimming,F,hand,N,NaN,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='26-Sep-..."
2421,21-Sep-1994,1994.0,Unprovoked,USA,Oregon,Surfing,M,NO INJURY,N,5 m [16.5'] white shark,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='21-Sep-..."
2422,Reported 11-Sep-1994,1994.0,Sea Disaster,USA,Florida,Adrift on refugee raft,M,FATAL,Y,NaN,"<re.Match object; span=(16, 20), match='1994'>","<re.Match object; span=(9, 20), match='11-Sep-..."
2423,05-Sep-1994,1994.0,Unprovoked,USA,Hawaii,Jumped off rocks into white water,F,leg,N,Small shark,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='05-Sep-..."
2424,22-Aug-1994,1994.0,Unprovoked,JAPAN,Kagoshima Prefecture,NaN,NaN,Survived,N,NaN,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='22-Aug-..."
2425,24-Jul-1994,1994.0,Unprovoked,BRAZIL,Pernambuco,Surfing,M,foot,N,NaN,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='24-Jul-..."
2426,09-Jul-1994,1994.0,Unprovoked,BRAZIL,Pernambuco,Swimming,M,FATAL,Y,NaN,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='09-Jul-..."
2427,09-Jul-1994,1994.0,Unprovoked,REUNION,Saint-Denis,Windsurfing,M,FATAL,Y,3 to 3.5 m [10' to 11.5'] bull shark,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='09-Jul-..."
2428,09-Jul-1994,1994.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Surfing,M,leg,Y,4 m [13'] white shark,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='09-Jul-..."
2429,09-Jul-1994,1994.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Surfing,M,leg,N,4 m [13'] white shark,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='09-Jul-..."
2430,08-Jul-1994,1994.0,Unprovoked,BRAZIL,Pernambuco,Surfing,M,Survived,N,NaN,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='08-Jul-..."
2431,08-Jul-1994,1994.0,Unprovoked,USA,Florida,Surfing,M,leg,N,"""small shark""","<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='08-Jul-..."
2432,24-Jun-1994,1994.0,Unprovoked,BAHAMAS,Grand Bahama Island,Spearfishing,M,arm,N,1.8 m [6'] shark,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='24-Jun-..."
2433,31-May-1994,1994.0,Unprovoked,USA,Florida,Surfing,M,foot,N,NaN,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='31-May-..."
2434,31-May-1994,1994.0,Unprovoked,USA,Florida,Surfing,M,foot,N,1.2 m [4'] spinner shark,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='31-May-..."
2435,28-May-1994,1994.0,Unprovoked,USA,Florida,Spearfishing,M,arm,N,2.1 m [7'] shark,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='28-May-..."
2436,24-May-1994,1994.0,Unprovoked,USA,Florida,Wading,F,foot,N,1.2 m [4'] shark,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='24-May-..."
2437,23-May-1994,1994.0,Unprovoked,USA,Florida,Wading,M,foot,N,NaN,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='23-May-..."
2438,15-May-1994,1994.0,Unprovoked,USA,Florida,Surfing,M,leg,N,>1.8 m [6'] shark,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='15-May-..."
2439,Reported 16-Apr-1994,1994.0,Invalid,USA,California,NaN,F,leg,NaN,Invalid,"<re.Match object; span=(16, 20), match='1994'>","<re.Match object; span=(9, 20), match='16-Apr-..."
2440,15-Apr-1994,1994.0,Unprovoked,REUNION,Saint-Joseph,NaN,NaN,FATAL,Y,"3 m [10'], 200-kg [441-lb] bull shark","<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='15-Apr-..."
2441,06-Apr-1994,1994.0,Unprovoked,BAHAMAS,NaN,Wading,M,leg,N,2' to 3' shark,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='06-Apr-..."
2442,03-Apr-1994,1994.0,Unprovoked,USA,Florida,Freediving for seashells,M,arm,N,NaN,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='03-Apr-..."
2443,02-Apr-1994,1994.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Spearfishing,M,FATAL,Y,4.9 m white shark,"<re.Match object; span=(7, 11), match='1994'>","<re.Match object; span=(0, 11), match='02-Apr-..."

In [367]:
attack3 = attack3.reset_index(drop=True)
attack3

,Date,Year,Type,Country,Area,Activity,Sex,Injury,Fatal (Y/N),Species,realYear,realDate
0,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,NO INJURY,N,White shark,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='25-Jun-..."
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,thigh,N,NaN,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='18-Jun-..."
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,leg,N,NaN,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='09-Jun-..."
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,leg,N,2 m shark,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='08-Jun-..."
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,leg,N,"Tiger shark, 3m","<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='04-Jun-..."
...,...,...,...,...,...,...,...,...,...,...,...,...
5344,Before 08-Jun-1912,0.0,Unprovoked,NEW ZEALAND,North Island,NaN,M,FATAL,Y,NaN,"<re.Match object; span=(14, 18), match='1912'>","<re.Match object; span=(7, 18), match='08-Jun-..."
5345,Before 19-Jun-1959,0.0,Unprovoked,USA,California,NaN,F,leg,N,"White shark, 1,900-lb","<re.Match object; span=(15, 19), match='1959'>","<re.Match object; span=(8, 19), match='19-Jun-..."
5346,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Swimming,M,leg,N,NaN,"<re.Match object; span=(14, 18), match='1916'>","<re.Match object; span=(7, 18), match='17-Jul-..."
5347,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Fishing,M,FATAL,Y,NaN,"<re.Match object; span=(60, 64), match='1913'>","<re.Match object; span=(53, 64), match='19-Jul..."
5348,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Wading,M,leg,Y,NaN,"<re.Match object; span=(14, 18), match='1913'>","<re.Match object; span=(7, 18), match='19-Jul-..."

In [368]:
attack3

,Date,Year,Type,Country,Area,Activity,Sex,Injury,Fatal (Y/N),Species,realYear,realDate
0,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,NO INJURY,N,White shark,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='25-Jun-..."
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,thigh,N,NaN,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='18-Jun-..."
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,leg,N,NaN,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='09-Jun-..."
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,leg,N,2 m shark,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='08-Jun-..."
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,leg,N,"Tiger shark, 3m","<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='04-Jun-..."
...,...,...,...,...,...,...,...,...,...,...,...,...
5344,Before 08-Jun-1912,0.0,Unprovoked,NEW ZEALAND,North Island,NaN,M,FATAL,Y,NaN,"<re.Match object; span=(14, 18), match='1912'>","<re.Match object; span=(7, 18), match='08-Jun-..."
5345,Before 19-Jun-1959,0.0,Unprovoked,USA,California,NaN,F,leg,N,"White shark, 1,900-lb","<re.Match object; span=(15, 19), match='1959'>","<re.Match object; span=(8, 19), match='19-Jun-..."
5346,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Swimming,M,leg,N,NaN,"<re.Match object; span=(14, 18), match='1916'>","<re.Match object; span=(7, 18), match='17-Jul-..."
5347,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Fishing,M,FATAL,Y,NaN,"<re.Match object; span=(60, 64), match='1913'>","<re.Match object; span=(53, 64), match='19-Jul..."
5348,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Wading,M,leg,Y,NaN,"<re.Match object; span=(14, 18), match='1913'>","<re.Match object; span=(7, 18), match='19-Jul-..."

In [369]:
attackLEGS = attack3.loc[attack3['Injury'] == 'leg']
attackLEGS

,Date,Year,Type,Country,Area,Activity,Sex,Injury,Fatal (Y/N),Species,realYear,realDate
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,leg,N,NaN,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='09-Jun-..."
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,leg,N,2 m shark,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='08-Jun-..."
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,leg,N,"Tiger shark, 3m","<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='04-Jun-..."
8,26-May-2018,2018.0,Unprovoked,USA,Florida,Walking,M,leg,N,"Bull shark, 6'","<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='26-May-..."
11,21-May-2018,2018.0,Unprovoked,USA,South Carolina,Boogie boarding,M,leg,N,NaN,"<re.Match object; span=(7, 11), match='2018'>","<re.Match object; span=(0, 11), match='21-May-..."
...,...,...,...,...,...,...,...,...,...,...,...,...
5300,04-Jun-1832,1832.0,Unprovoked,AUSTRALIA,New South Wales,Fishing,F,leg,N,NaN,"<re.Match object; span=(7, 11), match='1832'>","<re.Match object; span=(0, 11), match='04-Jun-..."
5301,Reported 23-Jan-1832,1832.0,Unprovoked,AUSTRALIA,New South Wales,Bathing,M,leg,N,NaN,"<re.Match object; span=(16, 20), match='1832'>","<re.Match object; span=(9, 20), match='23-Jan-..."
5345,Before 19-Jun-1959,0.0,Unprovoked,USA,California,NaN,F,leg,N,"White shark, 1,900-lb","<re.Match object; span=(15, 19), match='1959'>","<re.Match object; span=(8, 19), match='19-Jun-..."
5346,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Swimming,M,leg,N,NaN,"<re.Match object; span=(14, 18), match='1916'>","<re.Match object; span=(7, 18), match='17-Jul-..."
5348,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Wading,M,leg,Y,NaN,"<re.Match object; span=(14, 18), match='1913'>","<re.Match object; span=(7, 18), match='19-Jul-..."

In [371]:
print(attackLEGS['Country'].value_counts().head(10))
print(attack1['Country'].value_counts().head(10))

USA                 440
AUSTRALIA           244
SOUTH AFRICA        126
BAHAMAS              28
NEW ZEALAND          25
BRAZIL               21
PAPUA NEW GUINEA     18
MEXICO               17
MOZAMBIQUE           13
FIJI                  8
Name: Country, dtype: int64
USA                 2229
AUSTRALIA           1338
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
BRAZIL               112
BAHAMAS              109
MEXICO                89
ITALY                 71
FIJI                  62
Name: Country, dtype: int64